<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Saiba mais sobre os feedbacks</h4>
    <small>Acha que seu mentor preferido possui muitas avaliações negativas? Leia abaixo...</small>
</div>
<div class="modal-body">
    <p>
        Chamamos de <strong>mentor</strong> qualquer professor ou instituiçao de ensino que ministre cursos.
    </p>
    <p>
        O <strong>ReclameAquiDoTrader</strong> recebe a maioria dos seus feedbacks pelo <a href="https://www.instagram.com/reclameaqui.do.trader/" target="_blank">Instagram</a> e nascemos com o propósito de expor
        opiniões de alunos que fizeram algum curso e não o aprovaram.
        Note que toda avaliação vem de <strong>alunos</strong> e não temos qualquer vínculo com alunos ou mentores.
    </p>
    <p>
        Pelo nosso serviço conter a palavra <strong>Reclame</strong>, é comum que os alunos exponham mais as suas experiências negativas, como também é certo que um mentor
        com mais número de alunos tenda, naturalmente, a ter mais feedbacks positivos ou negativos.
    </p>
    <p>
        O <strong>ReclameAquiDoTrader</strong> nasceu para ajudar pessoas a tomarem decisões sobre qual mentor buscar na hora de aprender mais sobre investimentos, porém, não
        deve ser usado como um fator decisivo.
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Entendi</button>
</div>
