<section id="contact" class="contact" style="margin-top: 0px;">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contate-nos</h1>
                <p>Te responderemos o mais breve possível.</p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">Reclame Aqui do Trader</span></strong><br>
                    <abbr title="Email">E:</abbr> contato@@reclameaquidotrader.com.br
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Newsletter")" class="abre-modal-generico btn btn-primary">Assine nossa Newsletter</a>
                <p class="m-t-sm">
                    Siga-nos nas redes sociais
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/reclamedotrader" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/reclameaquidotrader" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/reclameaqui.do.trader/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/joinchat/NeKEbUcskjYfkgYyit5W2Q" target="_blank"><i class="fa fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://api.whatsapp.com/send?phone=5511933355178&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%3A%20......" target="_blank"><i class="fa fa-whatsapp"></i></a>
                    </li>
                </ul>
                Fale com nosso assessor
                <a href="https://api.whatsapp.com/send?phone=5521998700133&text=Ol%C3%A1%20Jo%C3%A3o%2C%20vim%20atrav%C3%A9s%20do%20%40reclameaqui.do.trader%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20assessoria%20com%20voc%C3%AA!%20" target="_blank">
                    clicando aqui
                </a><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    <strong>© @DateTime.Now.Year Reclame Aqui do Trader</strong>
                    <nav class="cl-effect-1">
                        <span style="color: #aeaeae;font-size: 13px;">Desenvolvido por:</span><br>
                        <a href="https://www.linkedin.com/in/diego-galante/" target="_blank" class="desenvovedores">
                            Diego Galante
                        </a>
                        <a href="https://www.linkedin.com/in/elvissouza/" target="_blank" class="desenvovedores">
                            Elvis Souza
                        </a>
                    </nav>
                </p>
            </div>
        </div>
    </div>
</section>
