<style>
    .btn-envie-mensagem {
        background: #1ab393;
        color: white;
        border-color: #1b9a80;
        width: 40px;
    }
</style>

<section class="timeline gray-bg" id="workflow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Como funciona</h1>
                <p>Entenda como as avaliações são feitas. </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">

                    <div class="vertical-timeline-block fadeInLeft animated wow">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-comment-o"></i>
                        </div>

                        <div class="vertical-timeline-content shadow">
                            <h2>Opine</h2>
                            <p>Você nos envia sua opinião sobre um curso por meio de nossas redes sociais. Sua avaliação será publicada de forma anônima.</p>
                            <p style="
                                margin-bottom: -5px;
                                font-size: 11px;
                                margin-left: 1px;
                            ">Envie uma avaliação agora mesmo:</p>
                            @*<a href="https://www.instagram.com/reclameaqui.do.trader/" target="_blank" class="btn btn-xs btn-primary">Envie-nos agora mesmo</a>*@
                            <div class="m-t-xs btn-group">
                                <a href="https://www.instagram.com/reclameaqui.do.trader/" target="_blank" class="btn btn-xs btn-default btn-envie-mensagem"><i class="fa fa-instagram"></i> </a>
                                <a href="https://t.me/joinchat/NeKEbUcskjYfkgYyit5W2Q" target="_blank" class="btn btn-xs btn-default btn-envie-mensagem"><i class="fa fa-telegram"></i> </a>
                                <a href="https://api.whatsapp.com/send?phone=5511933355178&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%3A%20......" target="_blank" class="btn btn-xs btn-default btn-envie-mensagem"><i class="fa fa-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>

                    <div class="vertical-timeline-block fadeInRight animated wow">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-search"></i>
                        </div>

                        <div class="vertical-timeline-content shadow">
                            <h2>Revisão</h2>
                            <p>
                                Revisaremos seu comentário para que atenda às políticas do ReclameAquiDoTrader. Você receberá informações a respeito.
                            </p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block fadeInLeft animated wow ">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-comments-o"></i>
                        </div>

                        <div class="vertical-timeline-content shadow">
                            <h2>Resposta</h2>
                            <p>Entraremos em contato com o mentor e daremos um tempo para que ele possa responder ao seu comentário.</p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block fadeInRight animated wow">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-bullhorn"></i>
                        </div>

                        <div class="vertical-timeline-content shadow">
                            <h2>Publicação</h2>
                            <p>Sua avaliação vai para nossas redes sociais para que possamos, juntos, ajudar a mais pessoas.</p>
                            <a href="#pesquisa" class="page-scroll btn btn-xs btn-primary">Veja as avaliações</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>