<div class="footer">
    <div class="float-right">
        Desenvolvido por 
        <a href="https://www.linkedin.com/in/elvissouza/" target="_blank">
            Elvis Souza
        </a> e
        <a href="https://www.linkedin.com/in/diego-galante/" target="_blank">
            Diego Galante
        </a>
    </div>
    <div>
        <strong>Copyright</strong> Reclame Aqui do Trader &copy; 2018 - @DateTime.UtcNow.Year
    </div>
</div>
