<div class="footer">
    <div class="float-right">
        Example text
    </div>
    <div>
        <strong>Copyright</strong> Reclame Aqui do Trader &copy; 2018 - @DateTime.UtcNow.Year
    </div>
</div>
