@model string

<a class="abre-modal-generico" style="color:#6f42c1;"
   asp-controller="Avaliacoes" asp-action="Editar" asp-route-id="@Model" data-toggle="tooltip" title="Avaliação sem link da postagem! Clique para editar a avaliação.">
    <i class="fa fa-unlink"></i>
</a>