@{
    ViewData["Title"] = "Avaliações";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Avaliações</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Avaliações</strong>
            </li>
        </ol>
    </div>
</div>