@model ReclameAquiDoTrader.UI.ViewModels.AcessoViewModel.SignInViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] | Entrar</title>

    <link href="~/css/site.min.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h3>Bem-vindo ao Reclame Aqui do Trader</h3>
            <form class="m-t" role="form" asp-action="Entrar" method="post">
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @if (ViewData["Erro"] != null)
                {
                    <div asp-validation-summary="All" class="alert alert-danger text-danger"></div>
                }

                <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>

            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2019</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/site.min.js"></script>

</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
