@model ReclameAquiDoTrader.UI.ViewModels.PublicacaoViewModel.PublicacaoMentorViewModel

<div style="position:relative;left: 0;top: 0;">
    <img src="@Model.ImagemFundo" style="width: 100%;position: relative;">
    <span style="position: absolute; left: 30%; top:38%; font-size: 2.75em; color: rgb(255,255,255); font-family: inherit; font-weight: 100; ">Feedback do curso:</span>
    <span style="@Model.StyleDinamicoUsuario">@Model.Usuario</span>
</div>