@{
    ViewData["Title"] = "ReclameAquiDoTrader";
    Layout = "";
}
<!DOCTYPE html>
<!-- saved from url=(0049)https://www.pagepreview.link/36d47881708391411f13 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <title>1 ano de Profitchart Pro GRATUITO!</title>
    <meta name="description" content="Participe da promoção que vai te dar 1 ano de Profitchart Pro gratuito!">
    <meta name="keywords" content="profitchart, profit chart pro gratuito, gratuito, plataforma de trading, day trade, mini contrato, mini indice, mini dolar, bovespa, b3, bmf">
    <style>
        .animated-lightbox {
            transition: visibility 0.5s, opacity 0.5s;
            display: block !important;
            visibility: hidden;
            opacity: 0;
        }

        .show-lightbox {
            opacity: 1;
            visibility: visible;
        }
    </style>
    <link href="~/promo1/bootstrap-datepicker.standalone.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/landingi-editor-uploads/J5DswFPt/favicon_reclameaquidotrader.png" type="image/x-icon">
    <meta property="og:title" content="1 ano de Profitchart Pro GRATUITO!">
    <meta property="og:description" content="Participe da promoção que vai te dar 1 ano de Profitchart Pro gratuito! Seja BRA!">
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/landingi-editor-uploads/thlEsQV0/thumbnail_profitpro_reclameaquidotrader.png"><!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="https://www.pagepreview.link/36d47881708391411f13" type="text/css" rel="stylesheet">
    <link href="~/promo1/css" type="text/css" rel="stylesheet">
    <link href="~/promo1/css(1)" type="text/css" rel="stylesheet">
    <link href="~/promo1/css(2)" type="text/css" rel="stylesheet"><!--[if lt IE 9]><link href="https://old.assets-landingi.com/bootstrap/css/ie8-grid.css?v=8.9.8" type="text/css" rel="stylesheet"><link href="https://styles.assets-landingi.com/4FgWYOY5/base_ie8.css" type="text/css" rel="stylesheet"><![endif]-->
    <link href="~/promo1/2.12-landend-base.css" type="text/css" rel="stylesheet">
    <link href="~/promo1/base.css" type="text/css" rel="stylesheet">
    <script>
        var landingiInternalDetails = {
            'landing_id': '1043823',
            'landing_hash': '36d47881708391411f13',
            'landing_variant_hash': '',
            'landing_name': '1+ano+ProfitChart+PRO+-s%C3%B3+pra+teste',
            'landing_lang': 'pt',
            'account_uuid': 'c277f3c6-c046-11e9-a3c3-427279aaf456',
            'apikey': 'd8011cbe-4186-4e7e-aea3-c5db0603f858'
        }
    </script>
    <script src="~/promo1/install-code"></script>
    <script src="~/promo1/static.min.js.baixados" type="text/javascript"></script>
    <script src="~/promo1/lightbox-render.js.baixados"></script>
    <script>
        window.addEventListener('load', function () {
            LightboxRender.init({
                useAaf: false
            })
        });
    </script>
    <script type="text/javascript"></script>
</head>
<body id="TxvpQxGuo6CkxW3pseVeXnPkXz3TAWhR">
    <div id="gtRyPHadX5Mhu46XE5LsTZXmlqpTqHNB" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="t3zMaqsTwDMOfhizKoKT3O3SmcopenwP" width="282" height="120" class="widget widget-image" data-original="https://images.assets-landingi.com/5FxDTRy8/logo_transparente.png" src="./1 ano de Profitchart Pro GRATUITO!_files/logo_transparente.png" srcset="https://images.assets-landingi.com/yfbMtJgsikYDRkev/logo_transparente.png 1x, https://images.assets-landingi.com/5FxDTRy8/logo_transparente.png 2x" alt="">
                <a href="https://www.pagepreview.link/36d47881708391411f13#PXcQAl18sZ3i6JuXUiPvS66AHbqOwqpd" id="oKBlL6Rag2p3WfF6ouqdUIXfpMq5CTnf" class="widget widget-button" version="3" subtype="anchor" rel="noopener noreferrer">
                    <div class="widget-overlay"></div>
                    <div id="IiTSZOPOKWmtaLpPXmykWEHvL6bTaBlA" class="widget widget-text">QUERO PARTICIPAR</div>
                </a><img id="VgXb5OUTIf4pM6bCQrCtU7EWucxXELyg" width="403" height="540" class="widget widget-image" data-original="https://images.assets-landingi.com/o9AYeVCU/Mockup.png" src="./1 ano de Profitchart Pro GRATUITO!_files/Mockup.png" srcset="https://images.assets-landingi.com/20fRg0SzgCyh3RkD/Mockup.png 1x, https://images.assets-landingi.com/o9AYeVCU/Mockup.png 2x" alt="">
                <img id="MlZn9wiUhGCh8H81fW62aLwirUV5rC4q" width="425" height="244" class="widget widget-image" data-original="https://images.assets-landingi.com/vULCyuDY/1_ano.png" src="./1 ano de Profitchart Pro GRATUITO!_files/1_ano.png" srcset="https://images.assets-landingi.com/oS7HhwLPcqmF696r/1_ano.png 1x, https://images.assets-landingi.com/vULCyuDY/1_ano.png 2x" alt="">
                <img id="X7CbQ5MhD4WWAtlvWvtD89Lb00XHbo4t" width="180" height="20" class="widget widget-image" data-original="https://images.assets-landingi.com/UvKLdLhl/info.png" src="./1 ano de Profitchart Pro GRATUITO!_files/info.png" srcset="https://images.assets-landingi.com/k0lC88vWQPTDtn8X/info.png 1x, https://images.assets-landingi.com/UvKLdLhl/info.png 2x" alt="">
                <div id="XW5v39E5iw9Xq02uNi0xNvP60IGed4dZ" class="widget widget-text"><p>Para todos os seguidores do <b>Reclame Aqui do trader</b>, a <span style="text-transform: uppercase;">melhor plataforma do mercado</span> está disponível gratuitamente por um ano!</p><p><br></p><p>Preencha o formulário para receber as regras da campanha e o seu cupom promocional.</p></div><img id="JAmxA5yzGLlfX8vuWoanvtqLM7qkd7o4" width="143" height="150" class="widget widget-image" data-original="https://images.assets-landingi.com/6gDeAKUq/Positivo.png" src="./1 ano de Profitchart Pro GRATUITO!_files/Positivo.png" srcset="https://images.assets-landingi.com/aPh20ILeQFXwRZ4o/Positivo.png 1x, https://images.assets-landingi.com/6gDeAKUq/Positivo.png 2x" alt="">

            </div>
        </div>
    </div>
    <div id="PXcQAl18sZ3i6JuXUiPvS66AHbqOwqpd" class="widget widget-section">
        <div class="row">

            <div class="container">

                <form id="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b" class="widget widget-form" data-orientation="vertical" data-version="2.1" action="https://www.pagepreview.link/36d47881708391411f13/submit/36d47881708391411f13" enctype="multipart/form-data" method="post" novalidate="" data-hash="36d47881708391411f13">
                    <div id="VU51KZz7fzU18vLzQamJwMtLhSgchdDZ" class="widget widget-container clearfix"><label id="qg9TngPfnp0kKF3LT3BZMtf1uNN5VrVe" class="widget widget-text widget-regular-label widget-label"></label><input class="widget widget-input-text" id="no3VlhvKpUtBG0bNCdPx9173MNOr0GRL" type="text" subtype="name" placeholder="Nome" parentid="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b" name="no3VlhvKpUtBG0bNCdPx9173MNOr0GRL" value=""></div><div id="JwIdf8w4aEB4AwTdfptkwPVuXOCaTpFg" class="widget widget-container clearfix"><label id="faygUWhVI7ADnWbpOgepJcFc3QVmz3hH" class="widget widget-text widget-regular-label widget-label"></label><input class="widget widget-input-text" id="UhN53QTEkHxpC9i9BrO8wvZmOOlTklJ5" type="email" subtype="email" parentid="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b" placeholder="E-mail" name="e_mail" value=""></div><div id="HHNJ00xObVDbT6fEZ1aupVaREfTuSyE1" class="widget widget-container clearfix"><label id="hgZ8OQKROTzLutqi4TcTcFWnISufKtRp" class="widget widget-text widget-regular-label widget-label"></label><input class="widget widget-input-text" id="MysaU5qnWJ42pb30rwXV1LkQzqJO49CH" type="tel" subtype="phone" placeholder="N° WhatsApp (com DDD)" parentid="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b" name="n___whatsapp__com_ddd_" value=""></div><div id="m1geOBbGNInkakWLGAy0hI5eQncUrFyQ" class="widget widget-container clearfix">
                        <input class="widget widget-input-checkbox" type="checkbox" id="FJWP2EtSod9FbtKbgo3TKfMNlfukgKKu" parentid="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b" name="checkbox"><label id="PvHu4EVHCdHDV7EVd3tmadI3uHeqe2UM" class="widget widget-text widget-checkbox-label widget-label" for="FJWP2EtSod9FbtKbgo3TKfMNlfukgKKu">Termos e condições</label>
                    </div><div id="T5JyR85Np5HDqsMzB9ZK8VTp7RpAHSO1" class="widget widget-container clearfix"><div id="UXO4FQBWZOJzefisTBfWXM5drdRrO8uE" class="widget widget-text widget-info-text">Ao preencher o formulário autorizo a assessoria oficial do Reclame Aqui do Trader a entrar em contato através dos contatos informados para explicar as regras de participação.</div></div><div id="iAXMVg3SQmyJvbVBIIMdTpTsI0EiPTEv" class="widget widget-container input-button-container clearfix"><button class="widget widget-input-button" type="submit" id="t1iKo2Zy9pPZfdCtucdexEvwUVHyrSGM" parentid="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b"><div class="widget-overlay"></div>QUERO PARTICIPAR</button></div><input type="hidden" name="_name_" value=""><input type="hidden" name="_uid" value="flBzEy7HfLMvTo7Lwob3nIgPWGs6TA3b"><input type="hidden" name="_redirect" value="">
                </form><div id="DbipMHZuDKOBTEMTCC41o64vODrThdTZ" class="widget widget-box"></div><div id="NmZeRRon8hEhBAZ27HvtwabMr408EfG6" class="widget widget-text"><p>Inscreva-se</p><p>para ter acesso!</p></div><div id="iTdU9trkpW4tNqTkRhr7TuIrU9LHrWDE" class="widget widget-box"></div><div id="bZCqTdvvlUxpcJfn2CApCiMuJNSiy6bK" class="widget widget-text"><p>* Promoção válida para novos clientes BRA com RLP ativa e mínimo de uma operação em mini contrato por mês. A plataforma Profitchart Pro é contratada diretamente pelo cliente pelo valor de R$ 139,00/mês. Ao cumprir as regras da promoção a BRA estorna o valor da promoção para o participante.</p></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/promo1/jquery.min.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/landend.bootstrap.min.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/bootbox.min.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/landing.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/landend.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/v02.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/files.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/jquery.form.min.js.baixados"></script>
    <script src="~/promo1/1043823"></script>
    <script type="text/javascript" src="~/promo1/landend.min.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/validation.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/iframe.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/bootstrap-datepicker.min.js.baixados"></script>
    <script type="text/javascript" src="~/promo1/bootstrap-datepicker.pt.min.js.baixados"></script>
    <script src="~/promo1/videoBackground.js.baixados"></script>
</body>
</html>