@model ReclameAquiDoTrader.UI.ViewModels.AcessoViewModel.SignInViewModel
@using Microsoft.Extensions.Options
@inject IOptions<ReclameAquiDoTrader.UI.Config.ReCaptchaConfig> ReCaptcha
@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] | Entrar</title>

    <!-- Ladda style -->
    <link href="~/lib/ladda/css/ladda-themeless.min.css" rel="stylesheet">

    <link href="~/css/site.min.css" rel="stylesheet">
    <link href="~/lib/css/toastr.css" rel="stylesheet">


</head>

<body class="gray-bg">

    <div class="row">
        <div class="loginColumns animated fadeInDown">
            <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">
                <div class="ibox border-bottom">
                    <div class="ibox-content" style="display: flow-root;">
                        <div class="white-bg col-md-6 m-t / m-t-(xs,sm,md,lg,xl) pull-left">
                            <h2 class="font-bold text-center">Reclame Aqui do Trader!</h2>
                            <hr class="hr-line-dashed">
                            <p class="text-justify">
                                Este login destina-se aos adiministradores do site. <a href="@Url.ActionLink("Index", "Pesquisa")">Clique aqui</a> para ir pra tela de pesquisa.
                            </p>
                        </div>
                        <div class="col-md-6 m-t / m-t-(xs,sm,md,lg,xl) pull-right">
                            <div>
                                <h2 class="font-bold text-center">Login</h2>
                                <form class="m-t" id="form-login" role="form" asp-action="Login" method="post">
                                    <input type="hidden" asp-for="Token" id="input_token">
                                    <input type="hidden" asp-for="TokenValido" id="input_token_valido">

                                    <div class="alert alert-danger d-none" id="erros">
                                        <span class="alert text-danger msg-validacao" name="Erro"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group m-b">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="email" asp-for="Email" placeholder="E-mail" class="form-control" required>
                                        </div>
                                        <span class="text-danger msg-validacao" name="Email"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group m-b">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                            <input type="password" asp-for="Password" placeholder="Senha" class="form-control" required>
                                        </div>
                                        <span class="text-danger msg-validacao" name="Password"></span>
                                    </div>

                                    <button type="submit" class="ladda-button ladda-button-demo btn btn-primary block full-width m-b" data-style="zoom-out">Entrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-7 text-justify">
                        Reclame Aqui do Trader - Todos os Direitos Reservados
                    </div>
                    <div class="col-md-5 text-right">
                        <small>© 2018-@DateTime.UtcNow.Year</small>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/login.min.js"></script>

    <!-- Ladda -->
    <script src="~/lib/ladda/js/spin.min.js"></script>
    <script src="~/lib/ladda/js/ladda.min.js"></script>
    <script src="~/lib/ladda/js/ladda.jquery.min.js"></script>

    <script src="~/lib/js/toastr.min.js"></script>
</body>

</html>

<script src="https://www.google.com/recaptcha/api.js?render=@ReCaptcha.Value.Site_Key"></script>
<script>

    grecaptcha.ready(function () {
        grecaptcha.execute('@ReCaptcha.Value.Site_Key', { action: 'login' }).then(function (token) {
           $('#input_token').val(token);
        });
    });

    $('#form-login').submit(function () {

        var l = $('.ladda-button-demo').ladda();
        l.ladda('start');

        $.ajax({
            url: this.action,
            type: 'POST',
            processData: false,
            contentType: false,
            data: new FormData(this),
            success: function (result) {
                window.location.href = result.url;
            },
            error: function (result) {
                TratarToken(result);
                TratarErro(result);
            },
            complete: function () {
                $('.ladda-button-demo').ladda('stop');
            }
        });
        return false;
    });

    function TratarErro(resultError) {
        $('.msg-validacao').html('');
        $("input.error").removeClass('error');

        if (resultError.responseJSON == undefined) {
            toastr.error('Ops, ocorreu um erro inesperado! Recarrega a página e tente novamente.', 'Erro');
        }

        let erros = resultError.responseJSON.erros;
        $(erros).each(function (i, erro) {
            $('[name="' + erro.chave + '"].msg-validacao').append(erro.mensagem + '</br>');
            $('input[name="' + erro.chave + '"]').addClass('error');
        });

        $('#erros').removeClass('d-none');
    }

    function TratarToken(resultError) {
        if (resultError.responseJSON == undefined) {
            $('#input_token_valido').val(false);
            return;
        }

        $('#input_token_valido').val(resultError.responseJSON.result.tokenValido);
    }

</script>